PORT=5000
MONGO_URI=mongodb://localhost:27017/rim-academy
GOOGLE_CLIENT_ID=649332648254-tj4uq9lr5ng83tc9dpf0avauo79745co.apps.googleusercontent.com
ADMIN_GOOGLE_ALLOWED_EMAILS=elxan.kerimov0055@gmail.com
ADMIN_JWT_SECRET=change-this-admin-secret
JWT_SECRET=your_jwt_secret_here
